@import "../../../styles";

.banner {
  background-size: cover;
  background-position: center;
  background-image: url('../../../assets/img/shutterstockPeopleShareFood.jpg');
  height: 400px;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: inset 3px 50px 100px 100px $black;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    inset 3px 50px 100px 100px $black;  /* Firefox 3.5 - 3.6 */
  box-shadow:         inset 5px 50px 100px 100px $black;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  align-items: center;
  justify-content: center;
  padding-top: 5em;
  margin-bottom: 5em;
  color: white;
}

@media (min-width: $media-query-small-tablet) {
  .banner {
    height: 500px;
    -webkit-box-shadow: inset 0px 0px 300px 175px $black;
    -moz-box-shadow: inset 0px 0px 300px 175px $black;
    box-shadow: inset 0px 0px 300px 175px $black;
    padding-top: 5em;
    margin-bottom: 5em;
    color: white;
  }
}
