<section class="row m-1" id="tools">
    <div class="author col-md-3 my-3">
        <a href="#">
            <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised" height="50px" width="50px">
            <span>Baking Tray</span>
        </a>
    </div>
    <div class="author col-md-3 my-3">
        <a href="#">
            <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised" height="50px" width="50px">
            <span>Oil Brush</span>
        </a>
    </div>
    <div class="author col-md-3 my-3">
        <a href="#">
            <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised" height="50px" width="50px">
            <span>Spatula</span>
        </a>
    </div>
</section>
