<form method="" action="" id="search">
  <div class="row mx-2">
    <div class="col-md-3 text-center ml-auto mr-0 my-2">
      <span class="bmd-form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="material-icons">search</i>
            </span>
          </div>
          <input type="text" value="" placeholder="E.G. Baked Salmon" class="form-control">
        </div>
      </span>
    </div>
    <div class="col-md-2 text-center ml-0 mr-auto my-2">
      <button type="button" class="btn btn-primary btn-block">Search</button>
    </div>
  </div>
</form>
  