<section id="recipe-overview" class="col-md-12">
  <h2 class="row">Recipes</h2>
  <div class="row">
    <div *ngFor="let recipe of recipes$ | async"
      [class.selected]="recipe.id === selectedId" class="col-md-3">
      <a [routerLink]="['/recipe', recipe.id]">
        <div class="col-md-12">
          <img src="https://www.gatewayitconsulting.com/assets/images/pcs/corsairCustomBuild.jpg" width="225px" />
        </div>
        <div class="col-md-12">
          <span class="badge">{{ recipe.name }}</span>
        </div>
      </a>
    </div>
  </div>
</section>