<section id="cooking-tools" class="col-md-12">
  <section class="row">
    <h1 class="col-md-12">Cooking Tools</h1>
  </section>
  <div class="dropdown text-center" ngbDropdown>
    <button class="btn btn-outline-secondary" id="dropdownBasic" ngbDropdownToggle>
      Select Cooking Tool
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic">
      <a class="dropdown-item">Toddy Ratio Helper</a>
    </div>
  </div>
  <section class="row">
    <app-toddy-ratio-helper></app-toddy-ratio-helper>
  </section>
</section>
