<section class="row m-1" id="steps">
    <ol class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4 class="col-md-12">Step #1</h4>
            <span class="col-md-3">
                <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised w-100">
            </span>
            <p class="col-md-9 step-content">
                Description Goes Here, Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here
            </p>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4 class="col-md-12">Step #2</h4>
            <span class="col-md-3">
                <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised w-100">
            </span>
            <p class="col-md-9 step-content">
                Description Goes Here, Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here
            </p>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4 class="col-md-12">Step #3</h4>
            <span class="col-md-3">
                <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised w-100">
            </span>
            <p class="col-md-9 step-content">
                Description Goes Here, Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here
            </p>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4 class="col-md-12">Step #4</h4>
            <span class="col-md-3">
                <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised w-100">
            </span>
            <p class="col-md-9 step-content">
                Description Goes Here, Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here
            </p>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4 class="col-md-12">Step #5</h4>
            <span class="col-md-3">
                <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised w-100">
            </span>
            <p class="col-md-9 step-content">
                Description Goes Here, Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here
            </p>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4 class="col-md-12">Step #6</h4>
            <span class="col-md-3">
                <img src="../../../assets/img/acai.jpg" alt="..." class="avatar img-raised w-100">
            </span>
            <p class="col-md-9 step-content">
                Description Goes Here, Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here Description Goes Here
            </p>
        </li>
    </ol>
</section>
