<app-breadcrumb class="row"></app-breadcrumb>
<div id="recipe-detail" *ngIf="recipe" class="col-md-12">
  <div class="row">
    <h2>{{recipe.name}}</h2>
  </div>
  <div class="row">
    <section class="col-md-6">
      <h4>Overview</h4>
      <app-cook-time></app-cook-time>
      <app-description></app-description>
    </section>
    <figure class="col-md-6">
        <ngb-carousel>
            <ng-template ngbSlide>
              <img class="d-block" src="{{recipe.image}}" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Salmon</h5>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img class="d-block" src="{{recipe.image}}" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Salmon</h5>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img class="d-block" src="{{recipe.image}}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Salmon</h5>
              </div>
            </ng-template>
        </ngb-carousel>
    </figure>
  </div>
  <div class="row" id="accordion" role="tablist">
      <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one, config-panel-two, config-panel-three" class="card-collapse col-md-12">
          <ngb-panel id="config-panel-one">
              <ng-template ngbPanelTitle>
                <a class="collapsed collapse-title" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Ingredients
                  <i class="material-icons keyboard_arrow_down"></i>
                </a>
              </ng-template>
              <ng-template ngbPanelContent class="p-1">
                  <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <app-ingredients></app-ingredients>
                  </div>
              </ng-template>
          </ngb-panel>
          <ngb-panel id="config-panel-two">
              <ng-template ngbPanelTitle>
                <a class="collapsed collapse-title" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Tools
                  <i class="material-icons keyboard_arrow_down"></i>
                </a>
              </ng-template>
              <ng-template ngbPanelContent>
                  <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <app-tools></app-tools>
                  </div>
              </ng-template>
          </ngb-panel>
          <ngb-panel id="config-panel-three">
              <ng-template ngbPanelTitle>
                <a class="collapsed collapse-title" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      Instructions
                  <i class="material-icons keyboard_arrow_down"></i>
                </a>
              </ng-template>
              <ng-template ngbPanelContent>
                  <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <app-instructions></app-instructions>
                  </div>
              </ng-template>
          </ngb-panel>
      </ngb-accordion>
  </div>
</div>
