<app-breadcrumb class="row mx-1"></app-breadcrumb>
<div id="recipe-detail" *ngIf="recipe" class="col-md-12">
  <div class="row">
    <h2 class="ml-3">{{recipe.name}}</h2>
  </div>
  <div class="row">
    <section class="col-md-6">
      <app-cook-time></app-cook-time>
      <app-description></app-description>
      <app-flavor-profile></app-flavor-profile>
      <app-category></app-category>
    </section>
    <figure class="col-md-6">
        <app-slider></app-slider>
    </figure>
  </div>
  <div class="row" id="accordion" role="tablist">
      <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one, config-panel-two, config-panel-three" class="card-collapse col-md-12">
          <ngb-panel id="config-panel-one">
              <ng-template ngbPanelTitle>
                <a data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed collapse-title">
                  Ingredients
                  <button class="btn btn-rose ml-5 mr-auto">Show/Hide</button>
                </a>
              </ng-template>
              <ng-template ngbPanelContent class="p-1">
                  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <app-ingredients></app-ingredients>
                  </div>
              </ng-template>
          </ngb-panel>
          <ngb-panel id="config-panel-two">
              <ng-template ngbPanelTitle>
                <a class="collapsed collapse-title" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Tools
                  <button class="btn btn-rose ml-5 mr-auto">Show/Hide</button>
                </a>
              </ng-template>
              <ng-template ngbPanelContent>
                  <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <app-tools></app-tools>
                  </div>
              </ng-template>
          </ngb-panel>
          <ngb-panel id="config-panel-three">
              <ng-template ngbPanelTitle>
                <a class="collapsed collapse-title" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  Steps
                  <button class="btn btn-rose ml-5 mr-auto">Show/Hide</button>
                </a>
              </ng-template>
              <ng-template ngbPanelContent>
                  <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <app-steps></app-steps>
                  </div>
              </ng-template>
          </ngb-panel>
      </ngb-accordion>
  </div>
</div>
