<!-- <section id="mission-statement" class="text-center">
  <h4 class="col-md-12">The goal of Simplest Cookbook is to provide an easy to use interface that allows you to get cooking sooner and get more information about what you're eating.</h4>
</section> -->
<!-- <section class="row text-center mx-auto my-5">
  <h2 class="col-md-12">Simplest Cookbook is going under maintenance and will be functional again soon!</h2>
</section> -->
<section class="row">
    <h1 class="col-md-12 text-center">Featured Recipes</h1>
</section>
<app-recipes class="row"></app-recipes>