<section id="recipes" class="col-md-12">
  <div class="row">
    <div *ngFor="let recipe of recipes" 
    class="col-md-3 col-sm-6 card-deck mx-auto">
      <a routerLink="/recipe/{{recipe.id}}" class="card">
        <div>
          <img src="{{recipe.image}}" class="card-img-top" />
        </div>
        <div class="card-body row">
          <section class="col-md-12">
              <h4 class="card-title">{{ recipe.name }}</h4>
          </section>
        </div>
      </a>
    </div>
  </div>
</section>