#search-banner {
    padding-top: 5em;
    margin-bottom: 5em;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, black 0%, rgba(20,20,20,1) 50%, #999 100%);
    color: white;
    width: 100%;
}