<header class="col-md-12">
  <nav class="site-nav">
    <h1 class="logo col-md-12"><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Simplest Cookbook</a></h1>
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
    <ul class="open desktop col-md-12 col-lg-8">
      <li class="dropDown col-md-12 col-lg-2">
        <a routerLink="/home/1/recipe-list/2" routerLinkActive="active-link">
          <i class=" site-nav--icon"></i>Recipes
        </a>
      </li>
      <li class="col-md-12 col-lg-2">
        <a routerLink="/cooking-tools" routerLinkActive="active-link">
          <i class="site-nav--icon"></i>Cooking Tools
        </a>
      </li>
    </ul>
  </nav>
</header>