<section class="row m-1" id="ingredients">
    <div class="author col-md-3 my-3">
        <a href="#">
            <img src="../../../assets/img/salmon.jpg" alt="..." class="avatar img-raised" height="50px" width="50px">
            <span>Salmon</span>
        </a>
    </div>
    <div class="author col-md-3 my-3">
        <a href="#">
            <img src="../../../assets/img/salmon.jpg" alt="..." class="avatar img-raised" height="50px" width="50px">
            <span>Salt</span>
        </a>
    </div>
    <div class="author col-md-3 my-3">
        <a href="#">
            <img src="../../../assets/img/salmon.jpg" alt="..." class="avatar img-raised" height="50px" width="50px">
            <span>Pepper</span>
        </a>
    </div>
    <div class="author col-md-3 my-3">
        <a href="#">
            <img src="../../../assets/img/salmon.jpg" alt="..." class="avatar img-raised" height="50px" width="50px">
            <span>Avocado Oil</span>
        </a>
    </div>
</section>
