/* You can add global styles to this file, and also import other style files */

// Responsive Designs
$media-query-phone: 400px;
$media-query-small-tablet: 550px;
$media-query-tablet: 750px;
$media-query-desktop: 1000px;
$media-query-desktop-hd: 1200px;

// Fonts
$font-stack: "Roboto",
Helvetica,
Arial,
sans-serif;

// Colors
$default-body-text: #222;
$black: #000;
$bone-white: #FFF;
$border-white: #E1E1E1;
$code: #F1F1F1;
$link: #1EAEDB;
$link-hover: #0FA0CE;
$primary-blue: #33C3F0;
$data-blue: #11DFC7;
$rose: #e91e63;

// Borders
$default-border: 1px solid $black;
$white-border: 1px solid $border-white;
$primary-blue-border: 1px solid $primary-blue;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-title {
  font-family: "Roboto Slab", "Helvetica", "Arial", serif;
}

.noLine {
  text-decoration: none;
}

.breadcrumb {
  background-color: $bone-white !important;
  box-shadow: 1px 1px 2px 2px lightgray !important;
  a {
    color: $rose;
  }
}
