$rose: #e91e63;

header {
    a {
        color: white;
    }
    .navbar-transparent {
        transition: 500ms ease;
        background: black;
        @media (min-width: 750px) {
            background: transparent;
        }
    }
    .navbar-transparent.scrolled {
        background: white !important;
        a {
            color: black !important;
        }
    }
    .navbar.scrolled {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .navbar-toggler.scrolled {
        color: $rose !important;
        border-color: $rose !important;
        background-color: $rose !important;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    .dropdown > .dropdown-toggle:active {
        pointer-events: none;
    }
    .navbar-nav {
        padding-top: 2rem;
        @media (min-width: 750px) {
            padding-top: 0;
        }
    }
}
