<header>
  <nav class="navbar navbar-light navbar-transparent fixed-top navbar-expand-lg py-3 px-4">
    <a class="navbar-brand" routerLink="/">
      Simplest Cookbook
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto text-right">
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/home/1/recipe-list/2">
            Recipes
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
